 
<h1> Bem-vindo ao Game Mania!</h1>
<br>
<section class="produtos">
    <div class="container justify-content-center d-flex">
        <div class="row">
            <div class="col-12">
                <h2 class="produtos-titulo">Ofertas</h2>
                <br>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/pngegg.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/pngegg (1).png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/pngegg (2).png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="novidades">
    <div class="container ">
        <div class="row">
            <p><br><br></p>
            <h3>Novidades</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</section>
<p><br><br></p>


<section class="final">
    <div class="rodape">
      <div class="container">
        <div class="countainer-grid-rodape header-flex-rodape menu-rodape">
          <div>
            <p><br> Atendimento <br><br>
              Horário de atendimento: <br>
              08:00 ás 20:00 <br><br>
              Siga-nos nas redes sociais</p>
            <a href="https://www.facebook.com"><img src="/assets/img/face.png" alt="face"></a>
            <a href="https://www.instagram.com"><img src="/assets/img/insta.png" alt="insta"></a>
            <a href="https://www.youtube.com"><img src="/assets/img/yout.png" alt="yout"></a>
          </div>
          <div>
            <p><br> Departamentos <br><br>
              <a href="/hardware">Hardware</a> <br>
              <a href="/software">Software</a> <br>
              <a href="/perifericos">Perifericos</a> <br>
              <a href="/celulares">Celulares</a> <br>
            </p>
          </div>
          <div>
            <p><br> Ajuda <br><br>
              <a href="#">Sac</a> <br>
              <a href="#">Fale Conosco</a> <br>
          </div>
          <div>
            <p><br> Dúvidas <br><br>
              <a href="#">Entrega</a> <br>
              <a href="#">Garantia</a> <br>
              <a href="#">Como Comprar</a> <br>
          </div>
        </div>
        <div class="roda-center">
          <br>
          <p>Game Mania</p>
        </div>
      </div>
    </div>
  </section>


