
<body>
    <main>
        <section class="tela-login">
            <div class="entrar">
                <form (ngSubmit)="capturarDados()">
                <img class="avatar" src="/assets/img/user-solid.svg" alt="user">
                <input type="text" id="login" name="login" maxlength="40" required autocomplete placeholder="Digite seu Nome" [(ngModel)]="userModel.nome">
                <br><br>           
                <img class="avatar" src="/assets/img/id-card-solid.svg" alt="user">
                <input type="text" (keypress)="myFunction()" id="cpf" name="cpf" maxlength="40" required autocomplete placeholder="Digite seu CPF" [(ngModel)]="userModel.cpf">
                <br><br>                
                <img class="avatar" src="/assets/img/phone-solid.svg" alt="user">
                <input type="text" (keypress)="myFunction()" id="telefone" name="telefone" maxlength="40" required autocomplete placeholder="Digite seu Telefone" [(ngModel)]="userModel.telefone">
                <br><br>                
                <img class="avatar" src="/assets/img/envelope-solid.svg" alt="user">
                <input type="text" id="email" name="email" maxlength="40" required autocomplete placeholder="Digite seu E-mail" [(ngModel)]="userModel.email">
                <br><br>               
                <img class="avatar" src="/assets/img/key-solid.svg" alt="user">
                <input type="password" id="senha" name="senha" maxlength="40" required autocomplete placeholder="Digite sua Senha" [(ngModel)]="userModel.password">                
                <img type="button" (click)="capturarDados()" class="salvar avatar" src="/assets/img/salvar.png" alt="lupa">
                <br><br>
                <p class="alertas"> </p>
              </form>
            </div>
            
        </section>
        <div class="requisitos">
            <p>Requisitos: Ter pelo menos seis caracteres. <br> Conter caracteres: Maiúsculos; Minúsculos; <br> Dígitos
                de base
                10 (0 a 9);<br> Não alfabéticos (por exemplo, !, $, #, %)</p>
        </div>
    </main>

</body>

<section class="final">
    <div class="rodape">
      <div class="container">
        <div class="countainer-grid-rodape header-flex-rodape menu-rodape">
          <div>
            <p><br> Atendimento <br><br>
              Horário de atendimento: <br>
              08:00 ás 20:00 <br><br>
              Siga-nos nas redes sociais</p>
            <a href="https://www.facebook.com"><img src="/assets/img/face.png" alt="face"></a>
            <a href="https://www.instagram.com"><img src="/assets/img/insta.png" alt="insta"></a>
            <a href="https://www.youtube.com"><img src="/assets/img/yout.png" alt="yout"></a>
          </div>
          <div>
            <p><br> Departamentos <br><br>
              <a routerLink="/hardware">Hardware</a> <br>
              <a routerLink="/software">Software</a> <br>
              <a routerLink="/perifericos">Perifericos</a> <br>
              <a routerLink="/celulares">Celulares</a> <br>
            </p>
          </div>
          <div>
            <p><br> Ajuda <br><br>
              <a routerLink="#">Sac</a> <br>
              <a routerLink="#">Fale Conosco</a> <br>
          </div>
          <div>
            <p><br> Dúvidas <br><br>
              <a routerLink="#">Entrega</a> <br>
              <a routerLink="#">Garantia</a> <br>
              <a routerLink="#">Como Comprar</a> <br>
          </div>
        </div>
        <div class="roda-center">
          <br>
          <p>Game Mania</p>
        </div>
      </div>
    </div>
  </section>
