<section class="perifericos">
  <div class="container ">
      <div class="row">
          <p><br><br></p>
          <h3>Perifericos</h3>
      </div>
      <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card">
                  <img src="/assets/img/computer.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make
                          up
                          the
                          bulk of the card's content.</p>
                      <a href="#" class="bnt-mod btn btn-outline-danger">Go somewhere</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="final">
    <div class="rodape">
      <div class="container">
        <div class="countainer-grid-rodape header-flex-rodape menu-rodape">
          <div>
            <p><br> Atendimento <br><br>
              Horário de atendimento: <br>
              08:00 ás 20:00 <br><br>
              Siga-nos nas redes sociais</p>
            <a href="https://www.facebook.com"><img src="/assets/img/face.png" alt="face"></a>
            <a href="https://www.instagram.com"><img src="/assets/img/insta.png" alt="insta"></a>
            <a href="https://www.youtube.com"><img src="/assets/img/yout.png" alt="yout"></a>
          </div>
          <div>
            <p><br> Departamentos <br><br>
              <a routerLink="/hardware">Hardware</a> <br>
              <a routerLink="/software">Software</a> <br>
              <a routerLink="/perifericos">Perifericos</a> <br>
              <a routerLink="/celulares">Celulares</a> <br>
            </p>
          </div>
          <div>
            <p><br> Ajuda <br><br>
              <a routerLink="#">Sac</a> <br>
              <a routerLink="#">Fale Conosco</a> <br>
          </div>
          <div>
            <p><br> Dúvidas <br><br>
              <a routerLink="#">Entrega</a> <br>
              <a routerLink="#">Garantia</a> <br>
              <a routerLink="#">Como Comprar</a> <br>
          </div>
        </div>
        <div class="roda-center">
          <br>
          <p>Game Mania</p>
        </div>
      </div>
    </div>
  </section>
