* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9E7E7;
}

header {
    background: linear-gradient(90.06deg, rgba(70, 70, 84, 0.74) 0.1%, #ED5A5A 136.16%);
    height: 150px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.pesquisa{
    display: flex;
    height: 50px;
    justify-content: center;
    
}

.header-menu {
    display: flex;
    justify-content: center;

}

.barra-menu {
    background-color: #D9D9D9;
    height: 50px;
}

.login a {
    font-size: x-small;
    text-decoration: none;
    font-size: 80%;
}

.login {    
    margin-top: -20px;
    margin-left: 40px;
}

.menu {
    display: flex;
    text-decoration: none;
    width: 50%;
    height: 50px;
    align-items: flex-end;
    justify-content: space-between;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.logo {
    width: 200px;
    height: 80px;

}

.icon {
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
}

.lupa {
    width: 17px;
    height: 17px;
}

.icones {
    margin-top: 20px;
    height: 80px;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.barra {
    display: flex;
    width: 5000px;
    align-items: flex-end;
    justify-content: center;
    
}

.barra-pesquisa {
    width: 500px;
    border-radius: 2px;
    height: 22px;
}

.marca {
    display: flex;
    height: 80px;
    width: 500px;
    font-style: italic;
    font-family: serif;
    font-size: large;
    justify-content: left;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: blueviolet;
    margin-top: 20px;
}

.tabela {
    display: flex;
    height: 210px;
    justify-content: center;
    align-items: center;
}

th {
    border: 1px solid grey;
    margin-left: 50px;
}

td {
    border: 1px solid #cccccc;
    margin-left: 50px;
}

.titulo {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.lista {
    margin-left: 50px;
}

.tela-login {
    display: flex;
    height: 450px;  
    justify-content: center;
    align-items: center;

}

.requisitos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #e2d7d7;
    text-align: center;
    margin-top: 25px;

}

.bnt-mod {
    background-color: red;
    color: #e2d7d7;
}

p {
    color: black;
}

.rodape {
    background: linear-gradient(90.06deg, rgba(70, 70, 84, 0.74) 0.1%, #ED5A5A 136.16%);
    height: 250px;
}

.countainer-grid-rodape {
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
    text-align: justify;
}

.header-flex-rodape {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.menu-rodape a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
}

.roda-center {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.mostrarMenu{
    left: 0 !important;
}

@media all and (min-width:992px) {
    .menu-hamb{
        display: none;
    }
}
@media all and (max-width:992px) {
    .marca {
        display: none;
    }
    .header-flex{
        justify-content:space-around;
    }
    .login {
        display: none;
    }
    .menu-hamb{
        display: none;
    }
        
}
@media all and (max-width:840px) {
    .marca {
        display: none;
    }        
    .login {
        display: none;
    }
    
    .menu-hamb{
        display: block;
        height: 35px;
        margin-left: 25px;              
    }
    .menu {
        flex-direction:column;
        position:fixed;
        top: 27%;
        left: -400px;
        height: 50%;
        z-index: 10;
        background-color: rgba(217, 217, 217, 0.97);
        padding: 20px;
        border-radius: 0 50px 50px 0px;
        transition: left 0.4s;

    }  
}
@media all and (max-width:537px) {
   
    .barra-pesquisa {
        width: 300px;
        border-radius: 2px;
        height: 22px;
}
    .countainer-grid-rodape{
        display:block;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    .countainer-grid-rodape {
        max-width: 1200px;
        height: 700px;
        margin: 0 auto;
        text-align: center;
    }
    .rodape {
        background: linear-gradient(90.06deg, rgba(70, 70, 84, 0.74) 0.1%, #ED5A5A 136.16%);
        height: 750px;
    }
    .menu-hamb{
        display: block;
        height: 30px;
        margin-left: 25px;              
    } 
}

.alertas{
    color: #ED5A5A;
    height: 20px;
    
}

.avatar{
    width: 20px;
    margin-right: 10px;
    
}